@use "../../abstracts/mixins" as *;

.hero {
  background-color: #e7e8e9;
  margin-bottom: 4rem;
  padding-bottom: 4rem;

  &__content {
    @include grid(2);
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
  }

  &__left {
    @include flex($direction: column, $gap: 2rem);
    padding-right: 2rem;
  }

  &__image {
    @include flex(center, center);
  }

  &__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__button {
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 200px;
  }
}
