@use "../../abstracts/mixins" as *;

.new-arrivals-products {
  margin-bottom: 6rem;

  &__title {
    @include flex(center, center, column);
    margin-bottom: 4rem;
    text-align: center;
  }

  &__tiles {
    @include flex(center, stretch, column, 1rem);

    @include respond-up(tablet) {
      @include grid(2, 1rem);
    }

    @include respond-up(laptop) {
      @include flex(space-between, stretch, row, 1rem);
    }
  }
}
