.promotion {
  margin-bottom: 6rem;
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -150px;
    background-color: white;
    box-shadow: 0 10px 30px #c1c7d4b3;
  }
  &__left {
    display: grid;
    grid-template-rows: 120px 1fr;
    padding: 4rem 6rem 16rem 6rem;
    gap: 1rem;
  }
  &__profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
  }
  &__profile-image {
    width: 100px;
    height: 110px;

    aspect-ratio: 1;
  }
  &__profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__profile-name {
    display: flex;
    flex-direction: column;
  }
  &__description {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__right {
    display: grid;
    grid-template-rows: 120px 1fr;
    padding: 4rem 12rem 16rem 6rem;
    gap: 1rem;
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("../../src/assets/Homepage/suitcases-main-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__right-content {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
  }
  &__button {
    padding: 20px 0;
    max-width: 200px;
  }
}
