@use "../../abstracts/mixins" as *;

.reviews {
  margin-bottom: 6rem;

  &__content {
    @include flex(center, center, column);
  }

  &__title {
    @include flex(center, center, column, 1rem);
    padding-bottom: 4rem;
  }

  &__tiles {
    @include grid(3, 2rem);
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 2rem;
  }

  &__tile {
    @include flex(space-evenly, center, column);
    min-height: 340px;
    box-shadow: 0 10px 30px #c1c7d4b3;
    padding: 0 2rem;
  }

  &__avatar {
    width: 95px;
    height: 95px;
  }

  &__avatar img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__opinion {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
