.selected-products {
  margin-bottom: 6rem;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
  }
  &__tiles {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
  }
}
