@use "../../abstracts/mixins" as *;

.discount {
  margin-bottom: 6rem;

  &__content {
    @include grid(2);
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.4)),
      url("/src/assets/Homepage/discount-banner.png");
    @include bg-cover;
    width: 100%;
    padding: 6rem 0;
  }

  &__left {
    @include flex(space-evenly, center, column);
  }

  &__percent {
    font-size: 220px;
    line-height: 1;
  }

  &__right {
    @include flex(space-between, flex-start, column);
    padding: 0 8rem;
  }

  &__button {
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
  }
}
