@use "../../abstracts/mixins" as *;

.products {
  margin-bottom: 6rem;

  &__content {
    @include flex(center, center, column);
  }

  &__title {
    @include flex(center, center, column, 1rem);
    padding-bottom: 4rem;
  }

  &__tiles {
    @include flex(flex-start, stretch, row, 2rem);
    width: 100%;
    padding-bottom: 4rem;
    flex-wrap: wrap;
  }

  &__tile {
    @include flex(center, center, column, 1rem);
    flex: 1 1 300px;
    max-width: 400px;
  }

  &__image {
    width: 100%;
    max-width: 400px;
  }

  &__image img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  &__description {
    @include flex(center, center, column, 1rem);
  }

  &__name {
    font-weight: 700;
  }

  &__price {
    color: #727174;
    font-weight: 700;
  }

  &__button {
    min-width: 156px;
    min-height: 40px;
  }
}
