@use "../../abstracts/mixins" as *;

.travel {
  margin-bottom: 6rem;

  &__tiles {
    @include flex(center, center, $gap: 2rem);
  }

  &__tile {
    @include flex;
    flex: 1 1 300px;
    flex-wrap: wrap;

    background-image: url("./assets/Homepage/suitcase real-live-3.png");
    @include bg-cover;

    width: 100%;
    max-width: 400px;
    padding: 2rem;
    aspect-ratio: 2 / 4;
  }

  &__description {
    @include flex(flex-end, stretch, column, 2rem);
    color: white;
  }
}
