@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;

.footer {
  margin-bottom: 6rem;

  &__content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "about links achievemetns . contact contact"
      "shipping shipping shipping . information1 information2";
    gap: 2rem;
  }

  &__about {
    grid-area: about;
  }
  &__links {
    grid-area: links;
  }
  &__achievemetns {
    grid-area: achievemetns;
  }
  &__contact {
    grid-area: contact;
  }
  &__shipping {
    grid-area: shipping;
  }

  &__information-area1 {
    grid-area: information1;
    @include flex($direction: column, $gap: 1.5rem);
  }

  &__information-area2 {
    grid-area: information2;
    @include flex($direction: column, $gap: 1.5rem);
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__items {
    @include flex($direction: column, $gap: 0.5rem);
    padding-bottom: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    @include flex($align: center, $gap: 1rem);
  }

  &__icon {
    width: 20px;
    height: 20px;
    color: $color-text-primary;
  }

  &__info {
    @include flex($direction: column);
  }
}
