@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;

.header {
  position: sticky;
  top: 0;
  background-color: $color-backgorund-light;
  z-index: 1;

  &__content {
    @include flex(space-between, center);
    padding: 20px 0;
    border-bottom: 1px solid rgba(114, 113, 116, 0.2);
  }

  &__actions {
    @include flex($gap: 1.2rem);
  }

  &__action {
    color: $color-text-primary;
    position: relative;
  }

  &__action-icon {
    width: 25px;
    height: 20px;
    color: $color-text-basic;
    cursor: pointer;

    &--lg {
      width: 35px;
      height: 35px;
    }

    &:hover {
      color: $color-primary;
    }
  }

  &__logo {
    @include flex(center, center, $gap: 1rem);
    cursor: pointer;
    text-decoration: none;
  }

  &__logo-icon {
    background-color: $color-primary;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    padding: 2px;
  }

  &__logo-text {
    color: $color-text-primary;
    font-weight: 700;
    font-size: 30px;
  }

  &__controls {
    @include flex(center, center, $gap: 1rem);
  }

  &__cart-icon {
    @include flex(center, center);
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    right: -13px;
    top: -11px;
    border: 2px solid;
    border-radius: 100%;
    width: 15px;
    aspect-ratio: 1;
    padding: 1px;
  }
}

.nav {
  margin-bottom: 2rem;

  &__content {
    @include flex(center, center);
  }

  &__list {
    @include flex($gap: 2rem);
    list-style: none;
  }

  &__item {
    font-weight: 700;
  }

  &__item-link {
    text-decoration: none;
    color: $color-text-basic;

    &:hover {
      color: $color-text-primary;
    }

    &--active {
      color: $color-text-primary;
    }
  }
}
