.header {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid rgba(114, 113, 116, 0.2);
  }
  &__actions {
    display: flex;
    gap: 1.2rem;
  }

  &__action {
  }

  &__action-icon {
    width: 25px;
    height: 20px;
    color: black;

    &--lg {
      width: 35px;
      height: 35px;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    text-decoration: none;
  }

  &__logo-icon {
    background-color: #b92770;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    padding: 2px;
  }

  &__logo-text {
    color: #b92770;
    font-weight: 700;
    font-size: 30px;
  }

  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

.nav {
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
  }
  &__item {
    font-weight: 700;
  }
  &__item-link {
    text-decoration: none;
    color: black;
  }
}
