@use "../../abstracts/colors" as *;
@use "../../abstracts/mixins" as *;

.feedback {
  margin-bottom: 6rem;

  &__content {
    @include grid(1, 2rem);

    @include respond-up(tablet) {
      @include grid(2, 2rem);
    }
  }

  &__left {
    @include flex;
  }

  &__image {
    aspect-ratio: 1 / 2;
    max-height: 600px;
    width: 100%;

    @include respond-up(laptop) {
      max-height: 800px;
      max-width: 700px;
    }
  }

  &__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__right {
    @include flex($direction: column, $gap: 2rem);
    width: 100%;

    @include respond-up(laptop) {
      gap: 4rem;
    }
  }

  &__title {
    @include flex($direction: column, $gap: 2rem);

    @include respond-up(laptop) {
      gap: 4rem;
    }
  }

  &__form {
    @include flex($direction: column);
    height: 100%;
    margin: 0;
  }

  &__form-item {
    @include flex($direction: column, $gap: 0.5rem);
    margin-bottom: 1.5rem;

    @include respond-up(laptop) {
      margin-bottom: 2rem;
    }
  }

  &__form-input-message {
    resize: none;
    min-height: 120px;

    @include respond-up(tablet) {
      min-height: 160px;
    }
  }

  &__button {
    max-width: 100px;
  }

  &__is-required::after {
    content: " *";
    color: $color-primary;
  }
}
