@use "../../abstracts/colors" as *;

.information {
  margin-bottom: 6rem;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: 220px;
  }
  &__icon {
    background-color: $color-primary;
    color: $color-white;
    width: 65px;
    height: 60px;
    padding: 0.2rem;
  }

  &__description {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}
