@use "../../abstracts/colors" as *;
@use "../../abstracts/mixins" as *;

.information {
  margin-bottom: 6rem;

  &__content {
    @include flex(space-between, center);
  }

  &__tile {
    @include flex(center, center, column, 1rem);
    max-width: 220px;
  }

  &__icon {
    background-color: $color-primary;
    color: $color-white;
    width: 65px;
    height: 60px;
    padding: 0.2rem;
  }

  &__description {
    @include flex($direction: column);
    text-align: center;
  }
}
