@use "../../abstracts/mixins" as *;

.catalog {
  &__content {
    @include grid(1, 2rem);
    margin-bottom: 4rem;

    @include respond-up(laptop) {
      @include grid(2, 2rem);
      grid-template-columns: 3fr 1fr;
    }
  }

  &__left {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%;

    @include respond-up(tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-up(laptop) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__right {
    @include flex($direction: column);
  }

  &__sets {
    @include flex($direction: column, $gap: 1.5rem);
  }

  &__set {
    @include flex($gap: 1rem);
  }

  &__info {
    @include flex(space-between, stretch, column);
  }

  &__image {
    max-width: 100px;
    width: 100%;
    aspect-ratio: 1;
  }

  &__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.pagination {
  &__content {
    @include grid(1, 2rem);
    margin-bottom: 2rem;

    @include respond-up(laptop) {
      @include grid(2, 2rem);
      grid-template-columns: 3fr 1fr;
    }
  }

  &__left {
    @include flex(center, center, column, 1rem);

    @include respond-up(tablet) {
      @include flex(space-around);
      flex-direction: row;
    }
  }

  &__pages {
    @include flex($gap: 1rem);
    flex-wrap: wrap;
  }
}
