@use "../../abstracts/colors" as *;
@use "../../abstracts/mixins" as *;

.filter {
  margin-bottom: 2rem;

  &__content {
    @include flex($direction: column, $gap: 2rem);
    border-top: 2px solid $color-border-primary;
    padding-top: 2rem;
  }

  &__options {
    @include grid(4, 2rem);
  }

  &__select {
    @include flex(flex-start, flex-start, column, 1rem);
    justify-items: center;

    &--radio {
      justify-content: center;
      height: 100%;
    }
  }

  &__buttons {
    @include flex($gap: 1rem);
    padding-top: 4rem;
    border-top: 2px solid $color-border-primary;
  }

  &__radio {
    accent-color: $color-primary;
  }

  &__hide {
    display: none;
  }
}
