.details {
  margin-bottom: 6rem;
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__navigation {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
  }
  &__description {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
