@use "../../abstracts/mixins" as *;

.informations {
  margin-bottom: 6rem;

  &__content {
    @include flex($direction: column);
  }

  &__navigation {
    @include flex(center, center, column, 1rem);
    margin-bottom: 2rem;

    @include respond-up(tablet) {
      @include flex(space-evenly);
      flex-direction: row;
    }
  }

  &__description {
    @include flex($direction: column, $gap: 2rem);
  }

  &__reviews {
    @include grid(1, 2rem);

    @include respond-up(tablet) {
      @include grid(2, 2rem);
    }
  }

  &__review {
    @include flex(space-between, flex-start, $gap: 1rem);
  }

  &__title {
    @include flex($gap: 1rem);
    margin-bottom: 1rem;
  }

  &__left {
    display: grid;
    grid-template-rows: auto 1fr;
    padding-right: 0;

    @include respond-up(tablet) {
      grid-template-rows: 100px 3fr;
      padding-right: 4rem;
    }
  }

  &__right {
    display: grid;
    grid-template-rows: auto 1fr;

    @include respond-up(tablet) {
      grid-template-rows: 100px 3fr;
    }
  }

  &__adding {
    @include flex($direction: column, $gap: 1rem);
  }

  &__form {
    @include flex($direction: column, $gap: 2rem);
  }

  &__form-name {
    @include flex($direction: column, $gap: 1rem);

    @include respond-up(tablet) {
      flex-direction: row;
      gap: 2rem;
    }
  }

  &__form-container {
    @include flex($direction: column, $gap: 2rem);
  }

  &__form-input-message {
    resize: none;
  }
}
