@use "../../abstracts/colors" as *;
.prefer-list {
  margin-bottom: 6rem;
  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
  }
  &__title {
    border-bottom: 2px solid $color-text-primary;
  }
}
