@use "../../abstracts/colors" as *;
@use "../../abstracts/mixins" as *;

.cart {
  margin-bottom: 6rem;

  &__content {
    @include flex(center, center);
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
  }

  &__table-head {
    background-color: $color-backgorund-secondary;
  }

  &__table-row {
    border-bottom: 1px solid $color-border-primary;
  }

  &__table-cell {
    text-align: center;

    &--head {
      padding: 1rem 0;
    }
  }

  &__table-cell-icon {
    color: $color-primary;
    fill: $color-white;
    max-width: 20px;
    cursor: pointer;
  }

  &__image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    aspect-ratio: 1;
  }

  &__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }

  &__buttons {
    @include flex(center, center);
  }
}
