@use "../../abstracts/colors" as *;
@use "../../abstracts/mixins" as *;

.cart-results {
  margin-bottom: 6rem;

  &__content {
    @include grid(1, 2rem);

    @include respond-up(tablet) {
      @include grid(2);
    }
  }

  &__left {
    @include flex($direction: column, $gap: 1rem);

    @include respond-up(tablet) {
      @include flex($gap: 1rem);
    }
  }

  &__left button {
    max-width: 270px;
    max-height: 50px;
    width: 100%;

    @include respond-up(tablet) {
      width: auto;
    }
  }

  &__right {
    @include flex($direction: column);
    background-color: $color-backgorund-secondary;
    padding: 1.5rem;

    @include respond-up(tablet) {
      padding: 2rem;
    }
  }

  &__checkout {
    @include flex($direction: column);
  }

  &__checkout-item {
    @include flex(space-between);
    border-bottom: 1px solid $color-border-primary;
    padding: 1rem 0;

    &:last-child {
      border: none;
      margin-bottom: 1rem;
    }

    &--hide {
      display: none;
    }
  }

  &__checkout-button {
    width: 100%;

    @include respond-up(tablet) {
      width: 50%;
    }
  }
}
