@use "../../abstracts/colors" as *;
@use "../../abstracts/mixins" as *;

.cart-results {
  margin-bottom: 6rem;

  &__content {
    @include grid(2);
  }

  &__left {
    @include flex($gap: 1rem);
  }

  &__left button {
    max-width: 270px;
    max-height: 50px;
  }

  &__right {
    @include flex($direction: column);
    background-color: $color-backgorund-secondary;
    padding: 2rem;
  }

  &__checkout {
    @include flex($direction: column);
  }

  &__checkout-item {
    @include flex(space-between);
    border-bottom: 1px solid $color-border-primary;
    padding: 1rem 0;

    &:last-child {
      border: none;
      margin-bottom: 1rem;
    }

    &--hide {
      display: none;
    }
  }

  &__checkout-button {
    width: 50%;
  }
}
