@use "../../abstracts/mixins" as *;

.hero-cart {
  margin-bottom: 6rem;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../assets/Cart/banner-image.jpg");

  @include bg-cover;

  width: 100%;
  aspect-ratio: 8/1;

  &__content {
    @include flex(center, center, column);
    height: 100%;
  }
}
