@use "../../abstracts/mixins" as *;
.arrivals {
  margin-bottom: 6rem;
  &__content {
    @include grid(2, 4rem);
  }
  &__left {
    @include flex(space-between, flex-start, column);
  }
  &__right {
    @include flex;
  }

  &__image {
    width: 100%;
    aspect-ratio: 2/1;
  }

  &__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__button {
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
