@use "../../abstracts/colors" as *;
@use "../../abstracts/mixins" as *;

.hero-about {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../src/assets/About/banner-about.jpg");

  @include bg-cover;

  width: 100%;
  aspect-ratio: 3/1;
  margin-bottom: 6rem;

  &__content {
    @include flex(center, center, column, 2rem);
    height: 100%;
  }

  &__description {
    max-width: 500px;
    text-align: center;
  }
}
