@use "../../abstracts/colors" as *;

.hero-about {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../src/assets/About/banner-about.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  aspect-ratio: 3/1;
  margin-bottom: 6rem;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 2rem;
  }
  &__description {
    max-width: 500px;
    text-align: center;
  }
}
