.hero-about {
  background-image: url("../../src/assets/About/banner-about.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  aspect-ratio: 3/1;
  margin-bottom: 6rem;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    height: 100%;
    gap: 2rem;
  }
}
