@use "../../abstracts/colors" as *;
@use "../../abstracts/mixins" as *;

.highlights {
  margin-bottom: 6rem;

  &__content {
    @include flex(center, center, column, 2rem);

    @include respond-up(tablet) {
      @include grid(2, 2rem);
      justify-items: center;
    }

    @include respond-up(laptop) {
      @include flex(space-between, center, row);
    }
  }

  &__tile {
    @include flex(center, center, column, 1rem);
    max-width: 220px;
    text-align: center;
  }

  &__icon {
    background-color: $color-primary;
    fill: $color-white;
    width: 55px;
    height: 50px;
    padding: 0.2rem;

    @include respond-up(tablet) {
      width: 65px;
      height: 60px;
    }
  }

  &__description {
    text-align: center;
  }
}
