@use "../../abstracts/colors" as *;
@use "../../abstracts/mixins" as *;

.team {
  margin-bottom: 6rem;

  &__content {
    @include flex(center, center, column, 2rem);
  }

  &__title {
    border-bottom: 2px solid $color-text-primary;
  }

  &__members {
    @include flex($direction: column, $gap: 2rem);
    width: 100%;

    @include respond-up(tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
    }

    @include respond-up(laptop) {
      justify-content: space-between;
      flex-wrap: nowrap;
    }
  }

  &__tile {
    @include flex(center, center, column, 1rem);
    width: 100%;

    @include respond-up(tablet) {
      width: calc(50% - 1rem);
    }

    @include respond-up(laptop) {
      width: auto;
    }
  }

  &__image {
    width: 100%;
    aspect-ratio: 2/1;
  }

  &__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
